.contents-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 24px;
}

.question-text {

}

input {
  border-radius: 12px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

input::placeholder {
  font-size: 1rem;
}

.name-question-submit-button {
  border-radius: 6px;
  padding: 6px 14px;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.3);
}

.version-name {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
}